body {
    margin: 0;
    font: Georgia;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
        background-image: url(https://memegene.net/sites/default/files/wallpaper/dirt-road-clipart/405459/dirt-road-clipart-mountain-road-405459-3594060.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.hero h2 {
    /* Text styles */
    font-size: 2.5em;
    color: white;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 170px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font: Georgia
    font-size: 2em;

    /* Border styles */
    border: 3px solid white;
}

.boxed {
  border: 30px solid white ;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
